body{
    background-image: linear-gradient(to bottom, #212b61, #313068, #40346e, #4f3974, #5d3d7a);
    margin: 1em;
    padding: 1.5em;
    font-family: Inter, Roboto, sans-serif;
}

/*head*/

header div{
    display: inline-flex;
    align-items: center;
    
}
header div img{
    border-radius: 50%;
    width: 64px;
    height: 64px;
}
h1{
    width: fit-content;
    text-align: center; 
    margin-left: 2em;
    background-color: #5d3d7a;
    color: #ffffff;
    border: solid #5d3d7a ;
    border-radius:3px ;
    padding: 1em;
    padding-top:10px ;
    padding-bottom: 10px;
    letter-spacing: 20px;

}
nav{
    display: flex;
    flex-direction: row;
    background-color: #5d3d7a;
    border: solid #5d3d7a;
    border-radius: 10px;
    margin: 15px;
    width: 100%;
}
nav a{
    color: #fff;
    background-color: #CF4307;
    border: solid #5d3d7a;
    border-radius: 10px;
    padding : 5px;
    margin: 15px;
}
nav img{
    margin: 15px; 
    margin: 15px;
}
nav div {
    margin-right: auto;
    margin-left: auto;
}
p{
    color: #ffffff;
    background-color: #5d3d7a;
    padding: 1em ;
    border: solid #5d3d7a;
    border-radius: 10px;
}


/*main*/


article a{
    color: #ffffff;
    background-color: #CF4307;
    border:solid 2px #CF4307;
    border-radius: 10px;
    padding: 5px;
    transition: 1s;
    
}
article a:hover{
    color: #CF4307;
    background-color: #fff;
    border:solid #CF4307;
    border-radius: 10px;
    padding: 5px;
    
}

/*
article + article p{
    width: fit-content;
    padding: 5px;
    background-color: #8F2323;
}
*/
article p + img{
    width: 450px;
    height: 20%;
    float: right;
}


figure > img{
    height: 50px;
}

#casting{
    display: flex;
    flex-direction: row;
}

main{
    margin: auto;
    padding: 1em;
    color: #ffffff;
}

/*haut de page detaillé*/

#section1{
    background-color: #5d3d7a;
    margin: auto;
    padding: 2em;
}

.mot-cle{
    display: inline-flex;
    
    padding: 5px;
    margin: 2em;
    border-radius: 30px;
}
.mot-cle p{
    background-color: #8f2328;
    padding: 5px;
    margin: 10px;
    border:solid 2px #8f2328;
    width: fit-content;
    height: fit-content;
    
}

#info-gen{
    display: flex;
    flex-direction: column;
}

#info_gen > img{
    height: 300px;
}

#résumé{
    background-color: #5d3d7a;
}

.casting{
    display: inline-flex;
    width: fit-content;
    background-color: #5d3d7a;
    margin-right:50% ;
    margin-left:2em ;
    margin-top: 2em;
}
.casting img{
    width: fit-content;
    height: 5em;
    padding: 2em;
    border-radius: 50%;
   
}

.casting > figure > img{
    border-radius: 50%;
}


/* debut du main principal page detaillé*/


#section2{
    display: inline-flex;
}

/*colonne 1 = bande annonce et photo saisons*/

#colonne1{
    width: 30em;
    margin-left: 7em;
    margin-right: 7em;
}

.Colonne1{
    display: flex;
    flex-direction: column;
    flex-grow: -2;
    width:30em;
    margin-bottom: 5em;

}

#bande-annonce{
    background-color:#2F3D8A ;
    padding: 5px;
    width: 35em;
    height: 30em;
}


#photo_saison{
    float: left;
    background-color: #5d3d7a;
    margin: auto;
    width: 35em;
    height: 30em;
}

#photo_saison > img{
    height: 20em;
    width: 30em;
}


/*colonne2 = critique et episodes*/

.critiqueDiv{
    display: flex;
    flex-direction: column;
    padding: 2em;
}


#critique{
    background-color:#5D3D7A ;
    border-radius: 20px;
    width: 25em;
    text-align: center;
    margin-right: 2em;
    margin-top: 2px;
}



#episode{
    background-color: #2F3D8A;
}
#episode > div{
    display: flex;
    flex-direction: row;
    
}
#episode > p{
    background-color: #CF4307;
    width: 4em;
    border-radius: 40px;
}






/* page backstage*/ 

#backstage{
    display: block;
    height: 2em;
    
}

#section2 > p{
    background-color: #CF4307;
}
.presentation{
    display: inline-flex;
    align-items: center;
}
.presentation p{

    display: flex;
    padding: 10px;
    margin-right: 40px;
}
footer{
    display: inline-flex;
    align-items: center;
    width: 100%;
    
}
footer figure{
    display: inline-flex;
    width: 17em;
    margin-top: 2em ;
    margin-left: auto;
}
footer figure img{
    width: 32px;
    height: 32px;
}
footer figcaption{
    margin-right:2em;
    margin-left: 2em ;
    color: #fff;
}
footer figure + img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: auto;
}

.reward{
    background-color: #2F3D8A;
    padding: 1em;
    margin:1em;
    border: solid #2F3D8A;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    
}
.reward figure{
    display: inline-flex;
    align-items: center;
}
input{
    display: none;
    position: relative;
    top: 15px;
    width: 10em;
    height: 2em;
}
.loupe:hover + input{
    display: inline-block;
}
.poster img{
    height: 330;
    width: 414;
}
.poster{
    font-size: larger;
}

@media screen {
    /**/
}


